
$in_process: rgb(62, 125, 245); //#3e7ef5
$qa: rgb(252, 142, 0); //#fc8f00
$done: rgb(74, 213, 136); //#4ad589

$cancelled: rgb(253, 42, 79); //#fd2a4f

$favorite: #FFBF69;


//application colours
$accessory: #BAABBD;
$main_colour: #00A9A5;
$main_accomp: #D7FFAB;
$secondary_colour: #596157;
$secondary_acc: #AFE0CE;



$green_good: #83e377;
$error: #ee5d48;

$dark: #343434;
$lighter_black: #444444;

$inactive: #6B6B6B;
$lighter_inactive: #7B7B7B;
$lightest_inactive: #8B8B8B;

$light_gray: #9f9f9f;
$lighter_gray: #afafaf;
$lightest_gray: #bfbfbf;


$gainsboro: #D7DAE5;
$cultured: #EFF1F3;
$darker_white: #FCFCFC;
$border: rgb(243, 245, 247); //#f3f5f7
