@import "../../../../assets/scss-libraries/colours.scss";

.card-image {
    background-image: url('src/assets/images/dialog-logos/creation-dialog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    
    i {
        cursor: pointer;
        font-size: 1.5rem;
        color: $darker_white;
        &:hover {
            color: $main_colour;
        }
    }
    
}

.invalid-border {
    border-color: $error;
}